<html>
<head>
<!-internal styling-->
<style>
body{background-colour;light gray}
h1{colour;#4B0082}
label{colour:Green}
</style>
<!-External styling-->
<link rel="stylesheet"href="color.css">
</head>
<body>
<center><b><h1>PREDICTION &nbsp;FORM</h1></b>,br></br>
<form action="#">
<label><b>Gender</b></label>
<select>
<option></option>
<option>Female/option>
<option>Male/option>
<option>other/option>
</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label><b>Senior citizen</b></label>
<select>
<option></option>
<option>no</option>
<option>yes</option>
</select><br></br>
<label><b>partner</b></label>
<select>
<option></option>
 <option>No</option>
</select><br></br>
<label><b>online service</b></label>
     <select>
     <option></option>
         <option>yes</option>
          <option>No</option>
</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label><b>dependent</b></label>
    <select>
     <option></option>
       <option>no</option>
       <option>yes</option>
</select><br></br>
<label><b>Tenture</b></label>
<select>
<option></option>
<option>1</option>
<option>2</option>
<option>3</option>
</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label><b>phone Service</b></label>
  <select>
     <option></option>
        <option>yes</option>
 <option>Yes</option>
</select>
<br></br>
     <select>
     <option></option>
         <option>no</option>
          <option>yes</option>
          <option>No Phone Service</option>
</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label><b>Internet Service</b></label>
 <select>
     <option></option>
        <option>DSL</option>
        <option>Fibre Optics</option>
</select><br></br>
<label><b>Onlinew Service</b></label>
<select>
<option></option>
<option>yes</option>
 <option>no</option>
</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbs;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label><b>Online Backup</b></label>
    <select>
     <option></option>
        <option>yes</option>
        <option>no</option>
</select><br></br>
<label><b>Device Protection</b></label>
     <select>
     <option></option>
        <option>yes</option>
 <option>No</option>
</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label><b>Tech Support</b></label>
<select>
     <option></option>
        <option>yes</option>
        <option>no</option>
</select><br></br>
<label><b>Streaming TV</b></label>
     <select>
     <option></option>
        <option>yes</option>
 <option>No</option>
</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label><b>Streaming Movies</b></label>
<select>
     <option></option>
        <option>yes</option>
        <option>no</option>
</select><br></br>
<label><b>contract</b></label>
     <select>
     <option></option>
        <option>Month to Month</option
        <option>one year</option>
<option>Two year</option>
</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label><b>Paperless Billing</b></label>
<select>
     <option></option>
        <option>yes</option>
        <option>no</option>
</select><br></br>
<label><b>Payment Method</b></label>
     <select>
     <option></option>
        <option>Electronic check</option
        <option>Mail cheak</option>
 <option>Bank Transfer(Automatic)</option>
 <option>Credit card(Automatic)</option>
</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label><b>Monthly Charges</b></label>
<select>
     <option></option>
        <option>5000</option>
        <option>20000</option>
</select><br></br>
<label><b>Total Charges</b></label>
<select>
<option></option>
        <option>1500</option>
        <option>5000</option>
</select><br></br>
<button>submit</button>
</body>
</html>




        

